<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735508976387-lafpv4qbm7a7igo2iej1j29128t1928p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735508976387-lafpv4qbm7a7igo2iej1j29128t1928p</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Q06mb-9ym2cvUcidMaEk_pftXOMX6c4</string>
	<key>GCM_SENDER_ID</key>
	<string>735508976387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.squip</string>
	<key>PROJECT_ID</key>
	<string>final-project-jp</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-jp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735508976387:ios:b71c631976a71ff2a70f36</string>
</dict>
</plist>